div {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
}

.main-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black; */
}

.tile-grid {
  /* width: 510px;
  height: 505px; */
  border: 1px solid pink;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-gap: 5px;
  justify-content: center;
  margin: 30px;
}

.tile {
  /* height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: -4px; */
  border: 1px solid black;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.teal {
  background-color: teal;
}

.color-palete {
  background-color: moc;
}
