div {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
}

.main-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black; */
}

.tile-grid {
  /* width: 510px;
  height: 505px; */
  border: 1px solid pink;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-gap: 5px;
  justify-content: center;
  margin: 30px;
}

.tile {
  border: 1px solid black;
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.midground {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.foreground {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.color-palete {
  background-color: fuc;
}
