div {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
}

.main-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black; */
}

.tile-grid {
  /* width: 510px;
  height: 505px; */
  border: 1px solid pink;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-gap: 5px;
  justify-content: center;
  margin: 30px;
}

.outer-tile {
  /* height: 100%;
  width: 100%; */
  border: 1px solid black;
}

.tile {
  /* border: 1px solid black; */
  /* display: flex; */
  height: 100%;
  width: 100%;
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: flex-end; */
}

.active-tile {
  border: 5px solid red;
}

.red-text {
  color: red;
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.midground {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.foreground {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.color-palete {
  background-color: fuc;
}

.scoring-section {
  margin: 5%;
}

.scoring-heading-section {
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
  justify-content: space-between;
}

.scoring-number-section {
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
  justify-content: space-between;
}
